[submodule "02_My_Study/02_Code/043.StepahenGrider_react/ReduxSimpleStarter"]
	path = 02_My_Study/02_Code/043.StepahenGrider_react/ReduxSimpleStarter
	url = https://github.com/StephenGrider/ReduxSimpleStarter.git
